# 3.1.1 Series

In [2]:
!conda install pandas
from pandas import *
obj = Series([4, 7, -5, -3])
print(obj)
print("--------------")
print(obj.values)
print("--------------")
print(obj.index)

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

0    4
1    7
2   -5
3   -3
dtype: int64
--------------
[ 4  7 -5 -3]
--------------
RangeIndex(start=0, stop=4, step=1)

In [3]:
obj2 = Series([4, 7, -5, 3], index = ['d', 'b', 'a', 'c'])
print(obj2)
print("--------------")
print(obj2.index)

d    4
b    7
a   -5
c    3
dtype: int64
--------------
Index(['d', 'b', 'a', 'c'], dtype='object')

In [4]:
#Tìm hiểu trang 113
print(obj2['a'])

print("--------------")
print(obj2['d'])

print("--------------")
print(obj2[['c','a','d']])

print("--------------")
print(obj2[obj2 > 0])

print("--------------")
print(obj2*2)

print("--------------")
import numpy as np
print(np.exp(obj2))

print("--------------")
print('b' in obj2)

print("--------------")
print('e' in obj2)

-5
--------------
4
--------------
c    3
a   -5
d    4
dtype: int64
--------------
d    4
b    7
c    3
dtype: int64
--------------
d     8
b    14
a   -10
c     6
dtype: int64
--------------
d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64
--------------
True
--------------
False

# 3.1.2 DataFrame

In [5]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'], 
        'year':  [2000, 2001, 2002, 2001, 2002], 
        'pop':   [1.5, 1.7, 3.6, 2.4, 2.9]}
frame = DataFrame(data)
print(frame)

print("\n--------------\n")
#Thay đổi vị trí của các cột trong table.
DataFrame(data, columns=['year', 'state', 'pop'])

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

--------------

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9

In [6]:
frame2 = DataFrame(data, columns=['year','state','pop','debt'],
                   index = ['one','two','three','four','five'])

print(frame2['state']) #Truy xuất tới tiểu bang

print("--------------")
print(frame2.year) #Truy xuất tới năm
print(frame2.loc['three'])

print("--------------")
print(frame2['debt'])

print("--------------")
frame2['debt'] = np.arange(5.)
print(frame2['debt'])

one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object
--------------
one      2000
two      2001
three    2002
four     2001
five     2002
Name: year, dtype: int64
year     2002
state    Ohio
pop       3.6
debt      NaN
Name: three, dtype: object
--------------
one      NaN
two      NaN
three    NaN
four     NaN
five     NaN
Name: debt, dtype: object
--------------
one      0.0
two      1.0
three    2.0
four     3.0
five     4.0
Name: debt, dtype: float64

In [7]:
val = Series([-1.2, -1.5, -1.7], 
              index=['two','four','five'])
frame2['debt'] = val
print(frame2['debt'])

print("--------------")
frame2['eastern'] = frame2.state = 'Ohio'
print(frame2['eastern'])

print("--------------")
del frame2['eastern']
frame2.columns

one      NaN
two     -1.2
three    NaN
four    -1.5
five    -1.7
Name: debt, dtype: float64
--------------
one      Ohio
two      Ohio
three    Ohio
four     Ohio
five     Ohio
Name: eastern, dtype: object
--------------

Index(['year', 'state', 'pop', 'debt'], dtype='object')

In [8]:
#Thực hiện chuyển vị của một DataFrame
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = DataFrame(pop)
print(frame3)

print("--------------")
f3_T = frame3.T
print(f3_T)

print("--------------")
#Truy xuất mảng dữ liệu của DataFrame
print(frame3.values)
print("--------------")
print(frame2.values)

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5
--------------
        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5
--------------
[[2.4 1.7]
 [2.9 3.6]
 [nan 1.5]]
--------------
[[2000 'Ohio' 1.5 nan]
 [2001 'Ohio' 1.7 -1.2]
 [2002 'Ohio' 3.6 nan]
 [2001 'Ohio' 2.4 -1.5]
 [2002 'Ohio' 2.9 -1.7]]

In [11]:
#Index Objects

obj = Series(range(3), index=['a','b','c'])
index = obj.index
print(index) #Xuất chỉ số của obj

print("--------------")
print(index[1:]) #Xuất chỉ số từ vị trí 1 trở đi

import pandas as pd
print("--------------")
index = pd.Index(np.arange(3))
obj2 = Series([1.5, -2.5, 0], index = index)
print(obj2)
obj2.index is index

Index(['a', 'b', 'c'], dtype='object')
--------------
Index(['b', 'c'], dtype='object')
--------------
0    1.5
1   -2.5
2    0.0
dtype: float64

True

# 3.2 Một số hàm cần thiết
## 3.2.1 Đánh giá lại chỉ số - Reindexing

In [12]:
obj = Series([4.5, 7.2, -5.3, 3.6],index=['d','b','a','c'])
print(obj)
print("--------------")
obj2 = obj.reindex(['a','b','c','d','e'])
print(obj2)

print("--------------")
reobj = obj.reindex(['a','b','c','d','e'],fill_value = 0)
print(reobj)

print("--------------")
obj3 = Series(['blue','purple','yellow'],index=[0,2,4])
print(obj3)
print("--------------")
f_reindex=obj3.reindex(range(6),method = 'ffill')
print(f_reindex)
print("--------------")
b_reindex=obj3.reindex(range(6),method = 'bfill')
print(b_reindex)

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64
--------------
a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64
--------------
a   -5.3
b    7.2
c    3.6
d    4.5
e    0.0
dtype: float64
--------------
0      blue
2    purple
4    yellow
dtype: object
--------------
0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object
--------------
0      blue
1    purple
2    purple
3    yellow
4    yellow
5       NaN
dtype: object

In [13]:
#Sinh viên tự tìm hiểu trang 124:
frame = DataFrame(np.arange(9).reshape((3,3)), index=['a','c','d'],
                  columns = ['Ohio','Texas','California'])
print(frame)

print("--------------")
#Thêm dòng b với giá trị chưa nhập
frame2 = frame.reindex(['a','b','c','d']) 
print(frame2)

print("--------------")
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8
--------------
   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0
--------------

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

## 3.2.2 Loại bỏ dữ liệu nguyên dòng (cột)

In [14]:
#Xóa 1 dòng của Series:
obj = Series(np.arange(5.),index=['a','b','c','d','e'])
print(obj)
print("--------------")
new_obj = obj.drop('c')
print(new_obj)

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64
--------------
a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [15]:
#Xóa dòng(cột) của DataFrame
data = DataFrame(np.arange(16).reshape((4,4)),
                 index = ['Ohio','Colorado','Utah','New York'],
                 columns = ['one', 'two', 'three', 'four'])
print(data)
print("--------------")
drop1 = data.drop(['Colorado','Ohio']) #delete row
print(drop1)
print("--------------")
drop2 = data.drop('two',axis = 1) #delete colum
print(drop2)
print("--------------")
drop3 = data.drop(['two','four'],axis =1)
print(drop3)

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
--------------
          one  two  three  four
Utah        8    9     10    11
New York   12   13     14    15
--------------
          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15
--------------
          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14

### Indexing, selection, and filtering

In [16]:
obj = Series(np.arange(4.), index=['a','b','c','d'])
print(obj)

print("--------------")
print(obj['b']) #Giá trị tại vị trí b
print("--------------")
print(obj[1]) #Giá trị tại vị trí 1
print("--------------")
print(obj[2:4]) #Giá trị của các vị trí từ (2,4)
print("--------------")
print(obj[['b','a','d']]) #Giá trị tại vị trí b,a,d
print("--------------")
print(obj[[1,3]]) #Giá trị tại vị trí 1 và 3
print("--------------")
print(obj[obj<2]) #Các giá trị tại vị trí < 2
print("--------------")
obj['b':'c']=5 #Thay đổi giá trị tại vị trí b và c
print(obj)

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64
--------------
1.0
--------------
1.0
--------------
c    2.0
d    3.0
dtype: float64
--------------
b    1.0
a    0.0
d    3.0
dtype: float64
--------------
b    1.0
d    3.0
dtype: float64
--------------
a    0.0
b    1.0
dtype: float64
--------------
a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

In [17]:
data = DataFrame(np.arange(16).reshape((4,4)),
                index=['Ohio','Colorado','Utah','New York'],
                columns=['one','two','three','four'])
print(data)
print("--------------")
print(data['two']) #Giá trị tại cột 2
print("--------------")
print(data[['three','one']]) #Giá trị tại cột 3 và 1
print("--------------")
print(data[:2]) #Xuất các giá trị từ đầu đến dòng 2
print("--------------")
print(data[data['three']>5]) #Xuất các giá trị > 5
print("--------------")
print(data<5) #Kiểm tra các phần tử <5
print("--------------")
data[data<5]=0 #Gán giá trị các phần tử <5 bằng 0
print(data)
print("--------------")
print(data.loc['Colorado',['two','three']])
print("--------------")
# print(data.loc[['Colorado', 'Utah'], [3, 0, 1]])
print("--------------")
print(data.iloc[2])
print("--------------")
print(data.loc[:'Utah','two'])
print("--------------")
# print(data.loc[data.three > 5,:3])

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
--------------
Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int32
--------------
          three  one
Ohio          2    0
Colorado      6    4
Utah         10    8
New York     14   12
--------------
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
--------------
          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
--------------
            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False
--------------
          one  two  three  four
Ohio        0    0      0     0
Colorado    0    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
--------------
two      5
three    6
Name: Colorado, dtype: int32
--------------
--------------
one       8
two       9
three    10
four     11
Name: Utah, dtype: int32
--------------
Ohio        0
Colorado    5
Utah        9
Name: two, dtype: int32
--------------

### Arithmetic and data alignment

In [18]:
s1 = Series([7.3, -2.5, 3.4, 1.5], index=['a','c','d','e'])
print(s1)
print("--------------")
s2 = Series([-2.1,3.6,-1.5,4,3.1], index=['a','c','e','f','g'])
print(s2)
print("--------------")
sum=s1+s2
print(sum)
print("--------------")

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64
--------------
a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64
--------------
a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64
--------------

In [19]:
df1 = DataFrame(np.arange(9.).reshape((3,3)),columns=list('bcd'),
               index=['Ohio','Texas','Colorado'])
print(df1)
print("--------------")
df2 = DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'),
               index=['Utah','Ohio','Texas','Oregon'])
print(df2)
print("--------------")
sum = df1+df2 #Tổng df1 và df2
print(sum)

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0
--------------
          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0
--------------
            b   c     d   e
Colorado  NaN NaN   NaN NaN
Ohio      3.0 NaN   6.0 NaN
Oregon    NaN NaN   NaN NaN
Texas     9.0 NaN  12.0 NaN
Utah      NaN NaN   NaN NaN

### Arithmetic methods with fill values

In [20]:
df1 = DataFrame(np.arange(12.).reshape((3,4)),columns=list('abcd'))
print(df1)
print("--------------")
df2 = DataFrame(np.arange(20.).reshape((4,5)),columns=list('abcde'))
print(df2)
print("--------------")
sum = df1+df2#Tổng df1 và df2
print(sum)
print("--------------")
sum1=df1.add(df2,fill_value =0)
print(sum1)
print("--------------")
#Chèn cột vào df1 và thay giá trị cột mới = 0
re_index = df1.reindex(columns=df2.columns, fill_value=0) 
print(re_index)

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0
--------------
      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
--------------
      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN
--------------
      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0  11.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0
--------------
     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0

### Operations between DataFrame and Series

In [21]:
arr = np.arange(12.).reshape((3,4))
print(arr)
print("--------------")
print(arr[0])
print("--------------")
tru = arr - arr[0]
print(tru)
print("--------------")

[[ 0.  1.  2.  3.]
 [ 4.  5.  6.  7.]
 [ 8.  9. 10. 11.]]
--------------
[0. 1. 2. 3.]
--------------
[[0. 0. 0. 0.]
 [4. 4. 4. 4.]
 [8. 8. 8. 8.]]
--------------

In [22]:
frame = DataFrame(np.arange(12.).reshape((4,3)), columns=list('bde'),
                 index=['Utah','Ohio','Texas','Oregon'])
print(frame)
print("--------------")
series = frame.iloc[0]
print(series)
print("--------------")
hieu = frame - series
print(hieu)
print("--------------")

print("--------------")
series2 = Series(range(3), index=['b','e','f'])
print(series2)
print("--------------")
sum = frame + series2
print(sum)
print("--------------")

print("--------------")
series3 = frame['d'] #Các giá trị cái vị trí 'd'
print(series3)
print("--------------")
print(frame)
print("--------------")
sub = frame.sub(series3, axis=0) #Hiệu của frame với series3
print(sub)

          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0
--------------
b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64
--------------
          b    d    e
Utah    0.0  0.0  0.0
Ohio    3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0
--------------
--------------
b    0
e    1
f    2
dtype: int64
--------------
          b   d     e   f
Utah    0.0 NaN   3.0 NaN
Ohio    3.0 NaN   6.0 NaN
Texas   6.0 NaN   9.0 NaN
Oregon  9.0 NaN  12.0 NaN
--------------
--------------
Utah       1.0
Ohio       4.0
Texas      7.0
Oregon    10.0
Name: d, dtype: float64
--------------
          b     d     e
Utah    0.0   1.0   2.0
Ohio    3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0
--------------
          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

### Function application and mapping

In [23]:
frame = DataFrame(np.random.randn(4,3), columns=list('bde'),
                 index=['Utah','Ohio','Texas','Oregon'])
print(frame)
print("--------------")
abs = np.abs(frame) #Trị tuyệt đối của frame
print(abs) 
print("--------------")

print("--------------")
f = lambda x: x.max() - x.min()
lambda1 = frame.apply(f)
print(lambda1)
print("--------------")
lambda2 = frame.apply(f,axis=1)
print(lambda2)
print("--------------")

print("--------------")
def f(x):
    return Series([x.min(),x.max()], index=['min','max'])
t = frame.apply(f)
print(t)
print("--------------")

print("--------------")
format = lambda x: '%.2f' % x
lambda3 = frame.applymap(format)
print(lambda3)
print("--------------")
t1 = frame['e'].map(format)
print(t1)

               b         d         e
Utah   -2.349536  0.646601  0.502136
Ohio    0.048466  0.379806 -0.885059
Texas  -0.432303 -0.177843 -0.608719
Oregon -1.384603 -1.400720 -1.859450
--------------
               b         d         e
Utah    2.349536  0.646601  0.502136
Ohio    0.048466  0.379806  0.885059
Texas   0.432303  0.177843  0.608719
Oregon  1.384603  1.400720  1.859450
--------------
--------------
b    2.398002
d    2.047321
e    2.361585
dtype: float64
--------------
Utah      2.996138
Ohio      1.264864
Texas     0.430876
Oregon    0.474847
dtype: float64
--------------
--------------
            b         d         e
min -2.349536 -1.400720 -1.859450
max  0.048466  0.646601  0.502136
--------------
--------------
            b      d      e
Utah    -2.35   0.65   0.50
Ohio     0.05   0.38  -0.89
Texas   -0.43  -0.18  -0.61
Oregon  -1.38  -1.40  -1.86
--------------
Utah       0.50
Ohio      -0.89
Texas     -0.61
Oregon    -1.86
Name: e, dtype: object

### Sorting and ranking

In [24]:
obj = Series(range(4), index=['d','a','b','c'])
print(obj)
print("--------------")
sort = obj.sort_index()#Sắp xếp các giá trị theo thứ tự
print(sort)
print("--------------")

print("--------------")
frame = DataFrame(np.arange(8).reshape((2,4)), index=['three','one'],
                 columns=['d','a','b','c'])
print(frame)
print("--------------")
sort1 = frame.sort_index()#Sắp xếp giá trị theo thứ tự
print(sort1)
print("--------------")
sort2 = frame.sort_index(axis=1) #Sắp theo thứ tự với cột 1 đứng đầu
print(sort2)
print("--------------")
#Sắp xếp theo chiều giảm dần
sort3 = frame.sort_index(axis = 1, ascending=False)
print(sort3)
print("--------------")

print("--------------")
obj = pd.Series([4, 7, -3, 2])
print(obj)
print("--------------")
# order = obj.order()
# print(order)
print("--------------")

print("--------------")
frame = DataFrame({'b':[4,7,-3,2],'a':[0,1,0,1]})
print(frame)
print("--------------")
# sort4 = frame.sort_index(by='b')
# print(sort4)
print("--------------")
# sort5 = frame.sort_index(by=['a','b'])
# print(sort5)
print("--------------")

print("--------------")
obj = Series([7,-5,7,4,2,0,4])
print(obj)
print("--------------")
rank = obj.rank()
print(rank)
print("--------------")
rank1 = obj.rank(method = 'first')
print(rank1)
print("--------------")
rank2 = obj.rank(ascending=False, method='max')
print(rank2)
print("--------------")

print("--------------")
frame = DataFrame({'b':[4.3,7,-3,2],'a':[0,1,0,1],
                   'c': [-2,5,8,-2.5]})
print(frame)
print("--------------")
rank = frame.rank(axis=1)
print(rank)

d    0
a    1
b    2
c    3
dtype: int64
--------------
a    1
b    2
c    3
d    0
dtype: int64
--------------
--------------
       d  a  b  c
three  0  1  2  3
one    4  5  6  7
--------------
       d  a  b  c
one    4  5  6  7
three  0  1  2  3
--------------
       a  b  c  d
three  1  2  3  0
one    5  6  7  4
--------------
       d  c  b  a
three  0  3  2  1
one    4  7  6  5
--------------
--------------
0    4
1    7
2   -3
3    2
dtype: int64
--------------
--------------
--------------
   b  a
0  4  0
1  7  1
2 -3  0
3  2  1
--------------
--------------
--------------
--------------
0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64
--------------
0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64
--------------
0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64
--------------
0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64
--------------
--------------
     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5
--------------
     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

### Axis indexes with duplicate values

In [25]:
obj = Series(range(5), index=['a','a','b','b','c'])
print(obj)
print("--------------")
index = obj.index.is_unique
print(index)
print("--------------")
print(obj['a'],"\n",obj['c'])
print("--------------")

print("--------------")
df = DataFrame(np.random.randn(4,3), index=['a','a','b','b'])
print(df)
print("--------------")
t = df.loc['b']
print(t)

a    0
a    1
b    2
b    3
c    4
dtype: int64
--------------
False
--------------
a    0
a    1
dtype: int64
 4
--------------
--------------
          0         1         2
a -0.283987  1.738382 -1.512984
a  0.186850  0.940028  0.820338
b -0.691594 -0.850146 -0.290120
b  0.256897  0.632018  2.279542
--------------
          0         1         2
b -0.691594 -0.850146 -0.290120
b  0.256897  0.632018  2.279542

## 3.3 Thống kê mô tả trên Series và DataFrame

In [26]:
df = DataFrame([[1.4, np.nan], [7.1, -4.5],
              [np.nan, np.nan], [0.75, -1.3]],
              index=['a','b','c','d'], columns=['one','two'])
print(df)

print("--------------")
sum1 = df.sum() #Tổng cột
print(sum1)

print("--------------")
sum2 = df.sum(axis = 1) #Tổng dòng
print(sum2)

print("--------------")
sum3 = df.mean(axis = 1, skipna = False)
print(sum3)

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3
--------------
one    9.25
two   -5.80
dtype: float64
--------------
a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64
--------------
a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

### Table 5-10. Descriptive and summary statistics trang 139

In [27]:
count = df.count()
print(count)
print("--------------")
describe = df.describe()
print(describe)
print("--------------")
min = df.min()
print(min)
print("--------------")
max = df.max()
print(max)
print("--------------")
# arg_min = df.argmin
# print(arg_min)
# print("--------------")
# arg_max = df.argmax
# print(arg_max)
print("--------------")
idxmin = df.idxmin()
print(idxmin)
print("--------------")
quantile = df.quantile()
print(quantile)
print("--------------")
sum = df.sum()
print(sum)
print("--------------")
mean = df.mean()
print(mean)
print("--------------")
median = df.median()
print(median)
print("--------------")
mad = df.mad()
print(mad)
print("--------------")
var = df.var()
print(var)
print("--------------")
std = df.std()
print(std)
print("--------------")
skew = df.skew()
print(skew)
print("--------------")
kurt = df.kurt()
print(kurt)
print("--------------")
cumsum = df.cumsum()
print(cumsum)
print("--------------")
cummin = df.cummin()
print(cummin)
print("--------------")
cummax = df.cummax()
print(cummax)
print("--------------")
cumprod = df.cumprod()
print(cumprod)
print("--------------")
diff = df.diff()
print(diff)
print("--------------")
pct = df.pct_change()
print(pct)

one    3
two    2
dtype: int64
--------------
            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000
--------------
one    0.75
two   -4.50
dtype: float64
--------------
one    7.1
two   -1.3
dtype: float64
--------------
--------------
one    d
two    b
dtype: object
--------------
one    1.4
two   -2.9
Name: 0.5, dtype: float64
--------------
one    9.25
two   -5.80
dtype: float64
--------------
one    3.083333
two   -2.900000
dtype: float64
--------------
one    1.4
two   -2.9
dtype: float64
--------------
one    2.677778
two    1.600000
dtype: float64
--------------
one    12.205833
two     5.120000
dtype: float64
--------------
one    3.493685
two    2.262742
dtype: float64
--------------
one    1.664846
two         NaN
dtype: float64
--------------
one   NaN
two   NaN
dtype: float64
--------------
    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8
--------------
    one  two
a  1.40  NaN
b  1.40 -4.5
c   NaN  NaN
d  0.75 -4.5
--------------
   one  two
a  1.4  NaN
b  7.1 -4.5
c  NaN  NaN
d  7.1 -1.3
--------------
     one   two
a  1.400   NaN
b  9.940 -4.50
c    NaN   NaN
d  7.455  5.85
--------------
   one  two
a  NaN  NaN
b  5.7  NaN
c  NaN  NaN
d  NaN  NaN
--------------
        one       two
a       NaN       NaN
b  4.071429       NaN
c  0.000000  0.000000
d -0.894366 -0.711111

In [28]:
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\rony\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in c:\users\rony\anaconda3\lib\site-packages (from pandas-datareader) (1.2.4)
Requirement already satisfied: requests>=2.19.0 in c:\users\rony\anaconda3\lib\site-packages (from pandas-datareader) (2.25.1)
Requirement already satisfied: lxml in c:\users\rony\anaconda3\lib\site-packages (from pandas-datareader) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\rony\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\rony\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.20.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\rony\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\rony\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\rony\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\rony\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\rony\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rony\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2020.12.5)

In [29]:
from pandas_datareader import data, wb
import pandas_datareader as web
all_data = {}
for ticker in['AAPL','IBM','MSFT','GOOG']:
    all_data[ticker]=web.get_data_yahoo(ticker,'1/1/2000','1/1/2010')
        
price = DataFrame({tic: data['Adj Close']
                  for tic, data in all_data.items()})
volume = DataFrame({tic: data['Volume']
                   for tic, data in all_data.items()})

returns .MSFT.corr(returns.IBM)
returns .MSFT.cov(returns.IBM)
returns .corr()
returns .cov()
returns.corrwith(returns .IBM)
returns.corrwith(volume)

ConnectionError: ('Connection aborted.', ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))

# 3.4 Xử lí số liệu bị khuyết (thiếu)

### Handling Missing Data

In [30]:
string_data = Series(['aardvark','artichoke',np.nan, 'avocado'])
print(string_data)
print("--------------")
isnull = string_data.isnull()
print(isnull)
print("--------------")
print(string_data[0])
print("--------------")
print(string_data.isnull())

0     aardvark
1    artichoke
2          NaN
3      avocado
dtype: object
--------------
0    False
1    False
2     True
3    False
dtype: bool
--------------
aardvark
--------------
0    False
1    False
2     True
3    False
dtype: bool

# 3.5 Chỉ số phân cấp - Hierarchical Indexing

In [31]:
data = Series(np.random.randn(10),
             index=[['a','a','a','b','b','b','c','c','d','d'],
                   [1,2,3,1,2,3,1,2,2,3]])
print(data)
print("--------------")
index = data.index
print(index)

a  1   -0.228006
   2   -1.098039
   3    0.627168
b  1    0.147222
   2   -1.833357
   3    0.115507
c  1   -0.508000
   2    0.202836
d  2    0.783589
   3    0.600102
dtype: float64
--------------
MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [32]:
print(data['b'])
print("--------------")
print(data['b':'c'])
print("--------------")
print(data.loc[['b','d']])
print("--------------")
data[:,2]

1    0.147222
2   -1.833357
3    0.115507
dtype: float64
--------------
b  1    0.147222
   2   -1.833357
   3    0.115507
c  1   -0.508000
   2    0.202836
dtype: float64
--------------
b  1    0.147222
   2   -1.833357
   3    0.115507
d  2    0.783589
   3    0.600102
dtype: float64
--------------

a   -1.098039
b   -1.833357
c    0.202836
d    0.783589
dtype: float64

In [33]:
#Sắp xếp Series có chỉ mục phân cấp thành DataFrame và ngược lại

data1=data.unstack() #Xếp về dạng ngang
print(data1)
print("--------------")
data2=data.unstack().stack() #Xếp về dạng dọc
print(data2)

          1         2         3
a -0.228006 -1.098039  0.627168
b  0.147222 -1.833357  0.115507
c -0.508000  0.202836       NaN
d       NaN  0.783589  0.600102
--------------
a  1   -0.228006
   2   -1.098039
   3    0.627168
b  1    0.147222
   2   -1.833357
   3    0.115507
c  1   -0.508000
   2    0.202836
d  2    0.783589
   3    0.600102
dtype: float64

In [34]:
#Lặp chỉ số phân cấp của DataFrame

frame = DataFrame(np.arange(12).reshape((4,3)),
                 index=[['a','a','b','b'],[1,2,1,2]],
                 columns=[['Ohio','Ohio','Colorado'],
                         ['Green','Red','Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [35]:
frame.index.names = ['key1','key2']
frame.columns.names = ['state','color']
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [36]:
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [37]:
#Đảo cột hoặc sort các level
frame.swaplevel('key1','key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [38]:
frame.sortlevel(1)

AttributeError: 'DataFrame' object has no attribute 'sortlevel'

In [39]:
frame.swaplevel(0,1)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [40]:
frame.swaplevel(0,1).sortlevel(0)

AttributeError: 'DataFrame' object has no attribute 'sortlevel'

### Thống kê trên chỉ số phân cấp và cột của DataFrame
#### Trang 150 - 151

In [41]:
frame = DataFrame({'a': range(7),'b': range(7,0,-1),
                   'c': ['one','one','one','two','two','two','two'],
                   'd': [0,1,2,0,1,2,3]})
print(frame)
print("--------------")
frame2 = frame.set_index(['c','d'])
print(frame2)
print("--------------")
set = frame.set_index(['c','d'], drop =False)
print(set)
print("--------------")
reset = frame2.reset_index() #Sắp xếp đứng thứ tự
print(reset)

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3
--------------
       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1
--------------
       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3
--------------
     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1